{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": "./",
      "alias": {
        "root": "./",
        "common": "./src/common",
        "underscore": "lodash"
      }
    }]
  ]
}
